/*
.color1 { #f2e8c4 };
.color2 { #98d9b6 };
.color3 { #3ec9a7 };
.color4 { #2b879e };
.color5 { #616668 };
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300;500&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.entry-success{
    width: 100%;
    height: 100vh;
    background-color: green;
    color: #fff;
    font-size: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.vredential-not-found{
    width: 100%;
    height: 100vh;
    background-color: red;
    color: #fff;
    font-size: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.access_screen{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#time_now{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 30px;
    background-color:#2b879e;
    color: #f2e8c4;
    font-size: 40px;
    border-radius: 10px;
    position: absolute;
}




.login, .filter, .add, .edit{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    background-color:#2b879e;
    margin-top: 10%;
    border-radius: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.login, .filter{
    width: 300px;
    height: 300px;
}
.add, .edit{   
    width: 300px;
    height: 450px;
}

.login form h3, .filter form h2, .add form h3, .edit form h3{
    color:  #f2e8c4; 
    margin-bottom: 25px;
}
.login form input, .filter form input, .add form input, .add form select, .edit form input, .edit form select{
    margin-bottom: 15px;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border: #f2e8c4;
}

.btn{
    background-color: #616668;
    color: #f2e8c4;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.login a, .add a, .edit a{
    text-decoration: none;
    color: #f2e8c4;
}

.login span, .filter span, .add span, .edit span{
    color: #f2e8c4;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10px;
}
.add p, .edit p{
    color: #f2e8c4;
}

.error{
    margin-bottom: 20px;
    color: rgb(245, 144, 144);
}


